# **A. Dasar Pemrograman Python**

## 1.  Printing, variables dan strings

In [87]:
# let's start
print("hello data world!")

# we don't (usually) specify types to variables:
n = 2
x = 2.5
y = 1.0
print(x + y + n)

hello data world!
5.5

In [88]:
# use double or single quotes for strings
name1 = 'this is'
name2 = " a name"
# string concatenation is simple
print(name1 + name2)

this is a name

In [89]:
# printing
x = 2.5
name = "test"
print("hi there this is a " + name)
print(x)
print("and this is how you can print numbers with strings " + str(x))
print(f"and this {name} is how to use f-strings {x}")

hi there this is a test
2.5
and this is how you can print numbers with strings 2.5
and this test is how to use f-strings 2.5

## 2. Tuples
Tuple adalah kumpulan elemen dari suatu variable yang tidak dapat diubah (Anda tidak dapat menambahkan dan menghapus elemen darinya).

In [4]:
# tuple example:
t1 = (1, 2, 3)
t2 = 1, 2, 3  # parentheses are not required
t1 == t2

True

In [5]:
len(t1)  # same as list

3

In [6]:
t1[1]  # same as list

2

In [7]:
t1[:2] # same as list

(1, 2)

## 3. Struktur Data Lists

List adalah struktur data pada python yang mampu menyimpan lebih dari satu data (elemen) dalam suatu variable yang bisa dirubah, seperti array.

In [8]:
# lists: structures that form collection of variables
numbers = [1, -1, 10]
print(numbers)
print(f'list has {len(numbers)} elements') # len() is a function that takes list objects as argument and returns number of elements

# can contain different types (or even lists!)
complex_list = [1, ["name", 2], -0.51]
print(complex_list)
complex_list[1][0]

[1, -1, 10]
list has 3 elements
[1, ['name', 2], -0.51]

'name'

In [9]:
# simple list indexing
numbers = [1, 4, 10]
print(f"this is the 2nd element of the list: {numbers[1]}")

s = "test"
# strings are also lists but they cannot be modified (immutable)
# s[1] = "3" # this returns an error
# instead you can do this:
print(s.replace("e", "3"))
# replace is a METHOD of string OBJECTS

this is the 2nd element of the list: 4
t3st

In [10]:
# negative list indices
numbers = [1, 2, 3, 10, 15, 2, -10]
print(numbers[-1])

# ... and list slicing
print(numbers[1:3])
print(numbers[:4])
print(numbers[:-2])
print(numbers[::2])
print(numbers[0:5:2])
print(numbers[-1:0:-1])

-10
[2, 3]
[1, 2, 3, 10]
[1, 2, 3, 10, 15]
[1, 3, 15, -10]
[1, 3, 15]
[-10, 2, 15, 10, 3, 2]

In [11]:
# list manipulation
# element replacement
numbers = [1, 2, 3, 10, 15, 2, -10]
numbers[2:4] = [-10, -10]
print(numbers)
# list concatenation
numbers += [-20, 2]
print(numbers)
# can also use the append method for appending a single element
# (DOES NOT RETURN list but appends on existing object):
numbers.append(-100)
print(numbers)

[1, 2, -10, -10, 15, 2, -10]
[1, 2, -10, -10, 15, 2, -10, -20, 2]
[1, 2, -10, -10, 15, 2, -10, -20, 2, -100]

In [12]:
# copy lists vs by reference
x = [1, 2, 3]
y = x
x[1] = 0
print(x)
print(y)
# y has also changed

print("Copy:")
x = [1, 2, 3]
y = x[:]
x[1] = 0
print(x)
print(y)
# (y has not changed)

[1, 0, 3]
[1, 0, 3]
Copy:
[1, 0, 3]
[1, 2, 3]

## 4. If statements

*If statment* adalah bentuk pernyataan percabangan, struktur ini juga disebut control flow, decision, struktur kondisi, Struktur if, dsb.

Percabangan akan mampu membuat program berpikir dan menentukan tindakan sesuai dengan logika/kondisi yang kita berikan

In [13]:
# if statements
my_list = [1, 2, -4, 10]
number_to_find_1 =10

if number_to_find_1 in my_list:
    # call METHOD "index" of the list OBJECT:
    print(f'{number_to_find_1} is the element no {my_list.index(number_to_find_1)}')
else:
    print(f'{number_to_find_1} is not found in list')

number_to_find_2 = -2
if number_to_find_2 in my_list:
    # call METHOD "index" of the list OBJECT:
    print(f'{number_to_find_2} is the element no {my_list.index(number_to_find_2)}')
else:
    print(f'{number_to_find_2} is not found in list')

10 is the element no 3
-2 is not found in list

In [14]:
# more if
temperature = 29
if temperature < 10:
    print("cold")
elif temperature < 25:
    print("normal")
elif temperature < 35:
    print('hot')
else:
    print("very hot")

hot

In [15]:
# operators
a = 10
print(a == 3)
print(a == 10)
print(a < 20)

# not operator:
print(not False)

False
True
True
True

## 5. Perulangan For

Perulangan dalam bahasa pemrograman berfungsi menyuruh komputer melakukan sesuatu secara berulang-ulang. Terdapat dua jenis perulangan dalam bahasa pemrograman **python**, salah satunya perulangan dengan *for*.

Perulangan *for* disebut *counted loop* (perulangan yang terhitung). Perbedaannya adalah perulangan for biasanya digunakan untuk mengulangi kode yang sudah diketahui banyak perulangannya

In [16]:
l = [1, 5, 100]
for i in l:
    print(i)

1
5
100

In [17]:
for i in range(5):
    print(i+1)

1
2
3
4
5

In [18]:
for i in range(0, 20, 5):
    print(i)

0
5
10
15

In [19]:
names = ["George", "Alan", "Mary"]
for n in names:
    print(n)

George
Alan
Mary

In [20]:
# with indices:
names = ["George", "Alan", "Mary"]
for i, n in enumerate(names):
    print(f"name {i}: {n}")

name 0: George
name 1: Alan
name 2: Mary

In [21]:
# list comprehensions
my_list = [i**2 - i for i in range(0, 10)]
#this is equivalent to:
#my_list = []
#for i in range(0, 10):
#    my_list.append(i**2 - i)
print(my_list)

[0, 0, 2, 6, 12, 20, 30, 42, 56, 72]

In [22]:
# list comprehensions are faster than for loops
import time
n = 1000000

# 1st method to create the list using list comprehensions:
t1 = time.time()
my_list = [i**2 - i for i in range(0, n)]
t2 = time.time()

# 2nd method to create the list (the tradiotional way)
my_list = []
for i in range(0, n):
    my_list.append(i**2 - i)
t3 = time.time()
t_loop = t3 - t2
t_com = t2 - t1
print(f"list comprehensions are {100*(t_loop-t_com)/t_loop:.1f} % faster")

list comprehensions are 43.9 % faster

## 6. Struktur Data Dictionaries

Pada pembahasan sebelumnya, kita sudah mengenal struktur data *list* yang mampu menyimpan berbagai macam hal. List biasanya digunakan untuk menyimpan koleksi data. Namun, list ternyata memiliki kekurangan.

**Kekurangannya** ia tidak bisa menggunakan kata kunci untuk mengakses itemnya. Hanya bisa menggunakan nomer indeks saja.

Kekurangan ini sudah ditutupi oleh **Dictionary**.

*Dictionary* adalah struktur data yang bentuknya seperti kamus. Ada kata kunci kemudian ada nilainya. Kata kunci harus unik, sedangkan nilai boleh diisi dengan apa saja.

In [23]:
# dictionaries are unordered and mutable
car = {
    "brand": "honda",
    "model": "civic",
    "type": "type-r",
    "engine": 1997,
    "power": 320
}

print(car['type'])

type-r

In [24]:
# dictionaries are unordered and mutable
car = {
    "brand": "honda",
    "model": "civic",
    "type": "type-r",
    "engine": 1997,
    "power": 320
}


# to iterate the (key,val) pairs of a dict:
for key in car:
    print(f"{key}:{car[key]}")

# ... or:
for key, value in car.items():
    print(key, value)

print(car.keys())
print(car.values())
print(car.items())

# print specific value:
print(car["brand"])

# insert value:
car["year"] = 2017
print(car)

# check if key in dict:
if "engine" in car:
    print("engine found!")


# delete a key-value
del car["engine"]
print(car)
if "engine" not in car:
    print("engine not found!")

brand:honda
model:civic
type:type-r
engine:1997
power:320
brand honda
model civic
type type-r
engine 1997
power 320
dict_keys(['brand', 'model', 'type', 'engine', 'power'])
dict_values(['honda', 'civic', 'type-r', 1997, 320])
dict_items([('brand', 'honda'), ('model', 'civic'), ('type', 'type-r'), ('engine', 1997), ('power', 320)])
honda
{'brand': 'honda', 'model': 'civic', 'type': 'type-r', 'engine': 1997, 'power': 320, 'year': 2017}
engine found!
{'brand': 'honda', 'model': 'civic', 'type': 'type-r', 'power': 320, 'year': 2017}
engine not found!

In [25]:
# deep and shallow copy:
# example 1:
# without copy:
print("without copy:")
d1 = {"l1": 10, "l2": 20}
d2 = d1
d1["l1"] = 20
print(d1)
print(d2)

# dict contains simple types (not lists, dicts, tuples etc)
print("simple dict-copy:")
d1 = {"l1": 10, "l2": 20}
d2 = d1.copy()
d1["l1"] = 20
print(d1)
print(d2)

print("simple dict-copy - 2:")
d1 = {"l1": [10, 20], "l2": 20}
d2 = d1.copy()
d1["l1"][0] = 1000
print(d1)
print(d2)

print("with deep copy - 2:")
import copy
d1 = {"l1": [10, 20], "l2": 20}
d2 = copy.deepcopy(d1)
d1["l1"][0] = 1000
print(d1)
print(d2)

without copy:
{'l1': 20, 'l2': 20}
{'l1': 20, 'l2': 20}
simple dict-copy:
{'l1': 20, 'l2': 20}
{'l1': 10, 'l2': 20}
simple dict-copy - 2:
{'l1': [1000, 20], 'l2': 20}
{'l1': [1000, 20], 'l2': 20}
with deep copy - 2:
{'l1': [1000, 20], 'l2': 20}
{'l1': [10, 20], 'l2': 20}

In [26]:
# dictionaries comprehension
countries_pop = dict(greece=10, germany=85, france=65, uk=68, italy=60, spain=46, austria=9, ireland=5, cyprus=1)
print(countries_pop)

large_countries = {}
for c, p in countries_pop.items():
    if p > 10:
        large_countries[c] = p
print(large_countries)

large_countries = {c:p for c, p in countries_pop.items() if p > 10}
print(large_countries)

{'greece': 10, 'germany': 85, 'france': 65, 'uk': 68, 'italy': 60, 'spain': 46, 'austria': 9, 'ireland': 5, 'cyprus': 1}
{'germany': 85, 'france': 65, 'uk': 68, 'italy': 60, 'spain': 46}
{'germany': 85, 'france': 65, 'uk': 68, 'italy': 60, 'spain': 46}

## 7. Reading files

Baca dan tulis file adalah teknik dasar yang harus dipahami dalam pemrograman **Python**, karena banyak digunakan untuk pengolahan dan pemerosesan file.

Dengan memahami cara membaca dan menulis file dengan Python akan membuat kita mampu membuat aplikasi yang bisa mengambil dan menyimpan data ke file.

In [51]:
# text files reading
import os.path
if os.path.exists("text_file.txt"):
    with open("text_file.txt", "r") as file_reader:
        data = file_reader.read()
    print(data)
    print(f'{len(data)} characters')
    print(data)
    print(f'{len(data)} characters')

0 characters

0 characters

In [50]:
# read lines
with open("text_file.txt", "r") as file_reader:
    data = file_reader.readlines()
print(data)
print(f'{len(data)} lines')

[]
0 lines

In [ ]:
# read file from json (as a simple text file) and convert string to dict using json.loads() function
with open('songs_metadata.json') as reader_json:
    json_string = reader_json.read()
import json
list_of_dicts = json.loads(json_string)
print(len(list_of_dicts))
for d in list_of_dicts[::100]:
    if 'artist' in d:
        print(d['artist'])

## 8. Functions Pada Pemrograman Python

Dalam pembuatan program yang kompleks dan memiliki banyak fitur, kita diharuskan menggunakan fungsi.

Jika tidak maka kita akan kerepotan menulis kode programnya, karena banyak yang harus ditulis dan kode akan menjadi sulit dibaca dan dirawat (maintenance).

Dengan fungsi, kita dapat memecah program besar menjadi sub program yang lebih sederhana.

Masing-masing fitur pada program dapat kita buat dalam satu fungsi. Pada saat kita membutuhkan fitur tersebut, kita tinggal panggil fungsinya saja.

In [31]:
def this_is_a_function_with_no_args():
    print("Hello!")

this_is_a_function_with_no_args()

Hello!

In [32]:
def concatenate_strings_and_print(string1, string2):
    print(string1 + string2)

concatenate_strings_and_print("hello", "!")

hello!

In [33]:
def fun_with_unknown_num_of_arguments(*args):
    print(len(args))
    print(f"This is the second argument: {args[1]}")

fun_with_unknown_num_of_arguments("THIS", "IS", "A", "TEST")

4
This is the second argument: IS

In [34]:
# default parameter values: (name is optional)
def fun(name="George"):
    print(name)

fun("Maria")
fun("Helen")
fun() # if the arg is not provided --> default param value is used

Maria
Helen
George

In [35]:
# this is how to return value:
def find_max(some_list):
    m = some_list[0]
    for x in some_list[1:]:
        if m < x:
            m = x
    return m

print(find_max([2,4,1,5,6,7,8,9,1]))

9

In [36]:
# and return more than one values:
def find_max_min(some_list):
    max_val = some_list[0]
    min_val = some_list[0]
    for x in some_list[1:]:
        if max_val < x:
            max_val = x
        if min_val > x:
            min_val = x
    return min_val, max_val

mymax, mymin = find_max_min([2,4,1,5,6,7,8,9,1])
print(mymax)
print(mymin)

1
9

## 9. Lamda functions
*Python lambdas* adalah short & anonymous functions. Ekspresi lambda dalam Python dan bahasa pemrograman lainnya berakar pada kalkulus lambda, model komputasi yang digunakan dalam beberapa bahasa pemrograman.

Fungsi lambda adalah fungsi anonim (tanpa nama) di Python yang bisa kita definisikan dalam satu baris. Fungsi ini sering digunakan untuk operasi sederhana yang tidak memerlukan fungsi yang panjang atau kompleks, sehingga kita bisa menghemat waktu dan baris kode dalam pengembangannya.

In [37]:
# this lamda expression
double_number = lambda x: 2 * x
double_number(10)

20

In [38]:
# is equivalent to this function:
def double_number(x):
    return 2 * x
double_number(10)

20

In [39]:
# lamda with two arguments:
y = lambda a, b : a * b
print(y(3, 4))

12

In [40]:
# Tugas 2