<a href="https://colab.research.google.com/github/zuuhair/tcp_socket/blob/main/03_Data_Manipulation_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **B. Dataset I/O**

Pandas menyediakan berbagai method untuk membaca file tersebut hanya dengan dipanggil method itu, code yang lebih simple dan loading yang lebih, tentu saja output nya dapat berupa Series atau Dataframe.

Terdapat sangat banyak file yang dapat dibaca/dapat disimpan oleh Pandas, tapi ada beberapa file yang paling umum dan sering digunakan oleh praktisi data seperti berikut ini:

* **CSV** (*Comma Separated Values*), antar data dalam satu baris dipisahkan oleh comma, ",".
* **TSV** (*Tab Separated Values*), antar data dalam satu baris dipisahkan oleh "Tab".
* **Excel**
* **Google BigQuery**
* **SQL Query**
* **JSON** (*Java Script Object Notation*)

## **1. Read Dataset - CSV dan TSV**
**CSV** dan **TSV** pada hakikatnya adalah tipe data text dengan perbedaan terletak pada pemisah antar data dalam satu baris. Pada *file* CSV, antar data dalam satu baris dipisahkan oleh *comma*, ",". Namun, pada file *TSV* antar data dalam satu baris dipisahkan oleh "**Tab**".

Fungsi .***read_csv()*** digunakan untuk membaca file yang value-nya dipisahkan oleh comma (*default*), terkadang pemisah value-nya bisa di set ‘\t’ untuk file tsv (*tab separated values*).

**Notes** :

**Dataset csv** : https://github.com/rahmadsa/dataset/blob/main/sample_csv.csv

**Dataset tsv** : https://github.com/rahmadsa/dataset/blob/main/sample_tsv.tsv

**Membaca file CSV**

![Kode Membaca file CSV](https://github.com/rahmadsa/Data-Wrangling-With-Python/blob/main/properties/img/2024-03-2205-30-14.png?raw=true)

**Membaca file TSV**

![Kode Membaca file CSV](https://github.com/rahmadsa/Data-Wrangling-With-Python/blob/main/properties/img/2024-03-22-05-38-40.png?raw=true)





**Tugas praktek:**

Pada code cell editor dibawah ini dapat dilihat kode-kode yang tidak lengkap. Tugas kamu sekarang adalah mengganti tanda _ _ _ di code editor dengan yang sesuai seperti yang diberikan pada contoh di atas.

Tampilkanlah tiga data teratas dari kedua jenis file tersebut

In [14]:
import pandas as pd

df_csv = pd.read_csv("https://github.com/rahmadsa/dataset/blob/main/sample_csv.csv?raw=true")
print(df_csv.head(3))

df_tsv = pd.read_csv("https://github.com/rahmadsa/dataset/blob/main/sample_tsv.tsv?raw=tru", sep='/t')
print(df_tsv.head(3))

   order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000

<ipython-input-14-60197d87b5cd>:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_tsv = pd.read_csv("https://github.com/rahmadsa/dataset/blob/main/sample_tsv.tsv?raw=tru", sep='/t')

  order_id\torder_date\tcustomer_id\tcity\tprovince\tproduct_id\tbrand\tquantity\titem_price
0  1932339\t2019-03-02\t19055\tSemarang\tJawa Ten...
1  1932339\t2019-03-02\t19055\tSemarang\tJawa Ten...
2  1932339\t2019-03-02\t19055\tSemarang\tJawa Ten...

## **2. Read Dataset - Excel**
File Excel dengan ekstensi ***.xls** atau ***.xlsx** cukup banyak digunakan dalam menyimpan data. Pandas juga memiliki fitur untuk membaca file excel.

**Notes :**

**Dataset :** https://github.com/rahmadsa/dataset/blob/main/sample_excel.xlsx

Fungsi ***.read_excel()*** digunakan untuk membaca file excel menjadi dataframe pandas.

![Kode Read xls](https://github.com/rahmadsa/Data-Wrangling-With-Python/blob/main/properties/img/2024-03-2205-30-14.png?raw=true)




**Tugas praktek:**

Pada cell editor dibawah ini dapat dilihat kode-kode yang tidak lengkap. Lengkapilah kode tersebut dengan mengganti tanda _ _ _ di cell editor dengan yang sesuai seperti yang diberikan pada contoh di atas.

Tampilkanlah sepuluh data teratas dari file excel yang telah dibaca!

In [17]:
import pandas as pd
df_excel = pd.read_excel("https://github.com/rahmadsa/dataset/blob/main/sample_excel.xlsx?raw=true")
print(df_csv.head(4))

   order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508
3   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0520

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
3  BRAND_B        12      450000

## **3. Read Dataset - JSON**

Method ***.read_json()*** digunakan untuk membaca URL API yang formatnya JSON dan mengubahnya menjadi dataframe pandas. Method ini dapat digunakan seperti yang dicontohkan berikut ini:

Dataset JSON: https://github.com/rahmadsa/dataset/blob/main/covid2019-api.json

Fungsi .read_json() digunakan untuk membaca json API menjadi dataframe pandas:

![Kode](https://github.com/rahmadsa/Data-Wrangling-With-Python/blob/main/properties/img/2024-03-22-06-01-59.png?raw=true)

**Tugas praktek:**

Pada cell editor dibawah ini dapat dilihat kode-kode yang tidak lengkap. Tugas sekarang adalah mengganti tanda _ _ _ di cell editor dengan yang sesuai seperti yang diberikan pada contoh di atas.

Tampilkanlah sepuluh data teratas dari file JSON yang telah dibaca!

In [18]:
import pandas as pd
url = "https://github.com/rahmadsa/dataset/blob/main/covid2019-api.json?raw=true"
df_json = pd.read_json(url)
print(df_json.head(10))

                                                data          dt          ts
0  {'location': 'US', 'confirmed': 3363056, 'deat...  07-14-2020  1594684800
1  {'location': 'Brazil', 'confirmed': 1884967, '...  07-14-2020  1594684800
2  {'location': 'India', 'confirmed': 906752, 'de...  07-14-2020  1594684800
3  {'location': 'Russia', 'confirmed': 732547, 'd...  07-14-2020  1594684800
4  {'location': 'Peru', 'confirmed': 330123, 'dea...  07-14-2020  1594684800
5  {'location': 'Chile', 'confirmed': 317657, 'de...  07-14-2020  1594684800
6  {'location': 'Mexico', 'confirmed': 304435, 'd...  07-14-2020  1594684800
7  {'location': 'United Kingdom', 'confirmed': 29...  07-14-2020  1594684800
8  {'location': 'South Africa', 'confirmed': 2877...  07-14-2020  1594684800
9  {'location': 'Iran', 'confirmed': 259652, 'dea...  07-14-2020  1594684800

## **4. Read Dataset - RDBMS (SQLite)**

Methode pembacaan RDBMS (SQLite) disajikan pada notebook berbeda

## **5. Head Dan Tail**
Seperti yang telah dipelajari sebelumnya bahwa ada method .head yang diterapkan pada suatu variabel bertipe pandas dataframe/series.

Method .head ditujukan untuk membatasi tampilan jumlah baris teratas dari dataset. Sementara itu, method .tail ditujukan untuk membatasi jumlah baris terbawah dari dataset.

Secara umum kedua method ini memiliki bentuk


```python
[nama_dataframe].head(n)
```
dan

```python
[nama_dataframe].tail(n)
```

dengan **n** merupakan jumlah baris yang akan ditampilkan, jika tidak disebutkan **n = 5** (sebagai nilai default dari n).

![Kode Head & Tails](https://github.com/rahmadsa/Data-Wrangling-With-Python/blob/main/properties/img/2024-03-22-06-15-15.png?raw=true)

**Tugas Praktek:**

**Notes :**

**Dataset csv** : https://github.com/rahmadsa/dataset/blob/main/sample_csv.csv

Berdasarkan *file sample_csv.csv* dengan alamat dataset diatas cetaklah 3 data teratas dan 3 data terbawah.

In [4]:
import pandas as pd
# Baca file sample_csv.csv
df = pd.read_csv(" https://github.com/rahmadsa/dataset/blob/main/sample_csv.csv?raw=true")
# Tampilkan 3 data teratas
print("Tiga data teratas:\n", df .head(3))
# Tampilkan 3 data terbawah
print("Tiga data terbawah:\n", df .tail(3))

Tiga data teratas:
    order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
Tiga data terbawah:
      order_id  order_date  customer_id      city          province product_id  \
98    1612390  2019-01-01        12681  Makassar  Sulawesi Selatan      P3354
99    1612390  2019-01-01        12681  Makassar  Sulawesi Selatan      P3357
100   1612390  2019-01-01        12681  Makassar  Sulawesi Selatan      P0422

       brand  quantity  item_price
98   BRAND_S        24      450000
99   BRAND_S        24      450000
100  BRAND_B         4     1325000
Tiga data teratas:
    order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
Tiga data terbawah:
      order_id  order_date  customer_id      city          province product_id  \
98    1612390  2019-01-01        12681  Makassar  Sulawesi Selatan      P3354
99    1612390  2019-01-01        12681  Makassar  Sulawesi Selatan      P3357
100   1612390  2019-01-01        12681  Makassar  Sulawesi Selatan      P0422

       brand  quantity  item_price
98   BRAND_S        24      450000
99   BRAND_S        24      450000
100  BRAND_B         4     1325000

### **6. Write Dataset**
Dalam bekerja sebagai data analisis setelah dilakukan data *cleaning dataset* yang sudah rapi tentunya disimpan terlebih dahulu ke dalam media penyimpanan.  

Pandas menyediakan fitur demikian secara ringkas melalui penerapan method pada dataframe/series yang ditabelkan berikut ini:

![Tabel Read Dataset](https://github.com/rahmadsa/Data-Wrangling-With-Python/blob/main/properties/img/2024-03-22-06-25-03.png?raw=true)

**Tugas Praktek 4 :**

Carilah refrensi cara menggabungkan beberapa dataframe kedalam sebuah dataframe baru.

Berikut disajikan dua buah dataset :

1. **Dataset csv** : https://github.com/rahmadsa/dataset/blob/main/sample_csv.csv

2. **Dataset tsv** : https://github.com/rahmadsa/dataset/blob/main/sample_tsv.tsv


*Requirement* :

1. Buatlah Dataset baru yang merupakan gabungan 2 (dua) dataset diatas dalam sebuah dataframe baru dengan nama  df_NIM_Anda contoh *df_19979922*.
2. Tampilkan jumlah masing-masing data pada dataframe point no 1 (dataset 1 dan dataset 2)
3. Tampilkan jumlah data pada dataset data baru dari requirement nomor 1
4. Tampilkan 10 data teratas dan 10 data terbawah, dari data frame baru point no 1

In [18]:
import pandas as pd

# Dataset 1
df_csv = pd.read_csv("https://github.com/rahmadsa/dataset/blob/main/sample_csv.csv?raw=true")
data1 = pd.DataFrame(df_csv)
print(df_csv)

# Dataset 2
df_tsv = pd.read_csv("https://github.com/rahmadsa/dataset/blob/main/sample_tsv.tsv?raw=true")
data2 = pd.DataFrame(df_csv)
print(df_tsv)

# Gabunggan dataset
NIM = '12221918'
df_12221918 = pd.concat([df_csv, df_tsv], ignore_index=True)

# Tampillan jumlah data pada masing-masing dataset
print("Jumlah data  Dataset 1:", len(df_csv))
print("Jumlah data Dataset 2:", len(df_tsv))

df_baru = len(df_12221918)
print("Jumlah data pada Dataset baru:", df_baru)

# Tampilkan 10 data teratas
atas_10 = df_12221918.head(10)
print("\n10 Data Teratas:")
print(atas_10)

# Tampilkan 10 data terbawah
bawah_10 = df_12221918.tail(10)
print("\n10 Data Terbawah:")
print(bawah_10)

     order_id  order_date  customer_id             city          province  \
0     1612339  2019-01-01        18055  Jakarta Selatan       DKI Jakarta
1     1612339  2019-01-01        18055  Jakarta Selatan       DKI Jakarta
2     1612339  2019-01-01        18055  Jakarta Selatan       DKI Jakarta
3     1612339  2019-01-01        18055  Jakarta Selatan       DKI Jakarta
4     1612339  2019-01-01        18055  Jakarta Selatan       DKI Jakarta
..        ...         ...          ...              ...               ...
96    1612390  2019-01-01        12681         Makassar  Sulawesi Selatan
97    1612390  2019-01-01        12681         Makassar  Sulawesi Selatan
98    1612390  2019-01-01        12681         Makassar  Sulawesi Selatan
99    1612390  2019-01-01        12681         Makassar  Sulawesi Selatan
100   1612390  2019-01-01        12681         Makassar  Sulawesi Selatan

    product_id    brand  quantity  item_price
0        P0648  BRAND_C         4     1934000
1        P3826  BRAND_V         8      604000
2        P1508  BRAND_G        12      747000
3        P0520  BRAND_B        12      450000
4        P1513  BRAND_G         3     1500000
..         ...      ...       ...         ...
96       P3388  BRAND_S        10      450000
97       P3082  BRAND_R        18     1045000
98       P3354  BRAND_S        24      450000
99       P3357  BRAND_S        24      450000
100      P0422  BRAND_B         4     1325000

[101 rows x 9 columns]
    order_id\torder_date\tcustomer_id\tcity\tprovince\tproduct_id\tbrand\tquantity\titem_price
0    1932339\t2019-03-02\t19055\tSemarang\tJawa Ten...
1    1932339\t2019-03-02\t19055\tSemarang\tJawa Ten...
2    1932339\t2019-03-02\t19055\tSemarang\tJawa Ten...
3    1932339\t2019-03-02\t19055\tSemarang\tJawa Ten...
4    1932339\t2019-03-02\t19055\tSemarang\tJawa Ten...
..                                                 ...
96   1932390\t2019-03-02\t17681\tGorontalo\tGoronta...
97   1932390\t2019-03-02\t17681\tGorontalo\tGoronta...
98   1932390\t2019-03-02\t17681\tGorontalo\tGoronta...
99   1932390\t2019-03-02\t17681\tGorontalo\tGoronta...
100  1932390\t2019-03-02\t17681\tGorontalo\tGoronta...

[101 rows x 1 columns]
Jumlah data  Dataset 1: 101
Jumlah data Dataset 2: 101
Jumlah data pada Dataset baru: 202

10 Data Teratas:
    order_id  order_date  customer_id             city     province  \
0  1612339.0  2019-01-01      18055.0  Jakarta Selatan  DKI Jakarta
1  1612339.0  2019-01-01      18055.0  Jakarta Selatan  DKI Jakarta
2  1612339.0  2019-01-01      18055.0  Jakarta Selatan  DKI Jakarta
3  1612339.0  2019-01-01      18055.0  Jakarta Selatan  DKI Jakarta
4  1612339.0  2019-01-01      18055.0  Jakarta Selatan  DKI Jakarta
5  1612339.0  2019-01-01      18055.0  Jakarta Selatan  DKI Jakarta
6  1612339.0  2019-01-01      18055.0  Jakarta Selatan  DKI Jakarta
7  1612339.0  2019-01-01      18055.0  Jakarta Selatan  DKI Jakarta
8  1612339.0  2019-01-01      18055.0  Jakarta Selatan  DKI Jakarta
9  1612339.0  2019-01-01      18055.0  Jakarta Selatan  DKI Jakarta

  product_id    brand  quantity  item_price  \
0      P0648  BRAND_C       4.0   1934000.0
1      P3826  BRAND_V       8.0    604000.0
2      P1508  BRAND_G      12.0    747000.0
3      P0520  BRAND_B      12.0    450000.0
4      P1513  BRAND_G       3.0   1500000.0
5      P3911  BRAND_V       3.0   2095000.0
6      P1780  BRAND_H       3.0   2095000.0
7      P3132  BRAND_S       3.0   1745000.0
8      P1342  BRAND_F       6.0   1045000.0
9      P2556  BRAND_P       6.0   1045000.0

  order_id\torder_date\tcustomer_id\tcity\tprovince\tproduct_id\tbrand\tquantity\titem_price
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN
6                                                NaN
7                                                NaN
8                                                NaN
9                                                NaN

10 Data Terbawah:
     order_id order_date  customer_id city province product_id brand  \
192       NaN        NaN          NaN  NaN      NaN        NaN   NaN
193       NaN        NaN          NaN  NaN      NaN        NaN   NaN
194       NaN        NaN          NaN  NaN      NaN        NaN   NaN
195       NaN        NaN          NaN  NaN      NaN        NaN   NaN
196       NaN        NaN          NaN  NaN      NaN        NaN   NaN
197       NaN        NaN          NaN  NaN      NaN        NaN   NaN
198       NaN        NaN          NaN  NaN      NaN        NaN   NaN
199       NaN        NaN          NaN  NaN      NaN        NaN   NaN
200       NaN        NaN          NaN  NaN      NaN        NaN   NaN
201       NaN        NaN          NaN  NaN      NaN        NaN   NaN

     quantity  item_price  \
192       NaN         NaN
193       NaN         NaN
194       NaN         NaN
195       NaN         NaN
196       NaN         NaN
197       NaN         NaN
198       NaN         NaN
199       NaN         NaN
200       NaN         NaN
201       NaN         NaN

    order_id\torder_date\tcustomer_id\tcity\tprovince\tproduct_id\tbrand\tquantity\titem_price
192  1932387\t2019-03-02\t14460\tBandung\tJawa Bara...
193  1932387\t2019-03-02\t14460\tBandung\tJawa Bara...
194  1932387\t2019-03-02\t14460\tBandung\tJawa Bara...
195  1932387\t2019-03-02\t14460\tBandung\tJawa Bara...
196  1932390\t2019-03-02\t17681\tGorontalo\tGoronta...
197  1932390\t2019-03-02\t17681\tGorontalo\tGoronta...
198  1932390\t2019-03-02\t17681\tGorontalo\tGoronta...
199  1932390\t2019-03-02\t17681\tGorontalo\tGoronta...
200  1932390\t2019-03-02\t17681\tGorontalo\tGoronta...
201  1932390\t2019-03-02\t17681\tGorontalo\tGoronta...